/*
 * Documento con el estilo de la versión web de la aplicación GricApp.
 * Autor: Eduardo Escobar Alberto
 * Fecha de creación: 20/05/2017
 * Correo electrónico: eduescal13@gmail.com.
 * Centro: Universidad de La Laguna.
 */

/* ------------------------------------------- ESTILO INICIO -------------------------------------------*/
    
html {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

.contenedor-principal {
	width: 100%;
	height: 95%;
    background-image: url("../images/fondo_principal.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.pie-pagina {
	width: 100%;
	height: 5%;
	position: bottom;
	background-color: #7C807D;
	background-image: url("../images/logo_ull.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8% 70%;
	border-top: 0.2px solid #575957;
}

.contenedor-principal .contenedor-izquierdo {
	width: 65%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-izquierdo .contenedor-informacion-registro {
	width: 85%;
	height: 100%;
    border: 0.2px solid #C5C8C5;
    background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: 10%;
}

.contenedor-informacion-registro .titulo-informacion-registro {
	width: 100%;
	height: 15%;
	margin-top: 11%;
	background-color: #1A600E;
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: fuente-titulo;
    letter-spacing: 0.05em;
}

.contenedor-informacion-registro .contenedor-informacion {
	width: 100%;
	height: 30%;
	margin: 0 auto;
	font-family: fuente-principal;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-informacion .informacion {
	width: 90%;
	height: 90%;
	margin: 0 auto;
}

.informacion text {
	font-size: 1.5em;
	font-family: fuente-principal;
	font-weight: bold;
	margin-left: 1.5%;
}

.contenedor-informacion-registro .contenedor-descarga-android {
	width: 100%;
	height: 10%;
	background-color: #1A600E;
	color: white;
	font-size: 2.0em;
	font-weight: bold;
	text-align: center;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: fuente-principal;
}

.contenedor-principal .contenedor-derecho {
	width: 35%;
	height: 100%;
	float: right;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-derecho .contenedor-login {
	width: 80%;
	height: 75%;
    border-radius: 0.5em;
    border: 0.2px solid #C5C8C5;
    background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,0.81)), color-stop(100%, rgba(237,237,237,0.6)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.contenedor-login .contenedor-logo {
	width: 100%;
	height: 60%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 80%;
}

.contenedor-login .contenedor-inicio-sesion {
	width: 100%;
	height: 30%;
	background-color: #1A600E;
}

.contenedor-inicio-sesion .input-usuario-contrasena {
	width: 100%;
	height: 70%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-inicio-sesion .input-usuario-contrasena input {
	width: 80%;
	height: 30%;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	margin-top: 3%;
	padding-left: 3%;
	font-size: 0.8em;
}

.contenedor-inicio-sesion .boton-inicio {
	width: 60%;
	height: 30%;
	margin: 0 auto;
}

.contenedor-inicio-sesion .boton-inicio button {
	width: 100%;
	height: 70%;
	background-color: #FAA911;
	border: none;
	border-radius: 0.3em;
	color: #000000;
	font-weight: bold;
	font-size: 1.0em;
}

/* ------------------------------------------- FONTS ------------------------------------------- */

@font-face {
    font-family: fuente-principal;
    src: url(../fonts/Calibri.ttf) format("truetype");
}

@font-face {
    font-family: fuente-titulo;
    src: url(../fonts/KeepCalm-Medium.ttf) format("truetype");
}
