/*
 * Documento con el estilo de la página de inicio de la versión web de la aplicación GricApp.
 * Autor: Eduardo Escobar Alberto
 * Fecha de creación: 20/05/2017
 * Correo electrónico: eduescal13@gmail.com.
 * Centro: Universidad de La Laguna.
 */

/* ------------------------------------------- ESTILO INICIO -------------------------------------------*/
    
html {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

.contenedor-principal {
	width: 100%;
	height: 95%;
    background-image: url("../images/fondo_principal.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.pie-pagina {
	width: 100%;
	height: 5%;
	position: bottom;
	background-color: #1B1C1B;
	background-image: url("../images/logo_ull.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 7% 65%;
	border-top: 0.2px solid #575957;
}

.contenedor-principal .contenedor-izquierdo {
	width: 65%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-izquierdo .contenedor-informacion-registro {
	width: 85%;
	height: 100%;
    border-left: 0.2px solid #C5C8C5;
    border-right: 0.2px solid #C5C8C5;
    background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: 10%;
}

.contenedor-informacion-registro .titulo-informacion-registro {
	width: 100%;
	height: 20%;
	margin-top: 3%;
	background-color: #1B1C1B;
}

.contenedor-informacion-registro .titulo-informacion-registro #imagen-titulo {
	width: 20%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-informacion-registro .titulo-informacion-registro #texto-titulo {
	width: 80%;
	height: 100%;
	float: right;
	color: white;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: fuente-principal;
    letter-spacing: 0.025em;
    font-weight: bold;
}

.contenedor-informacion-registro .contenedor-informacion {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	margin-top: 2%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,0.81)), color-stop(100%, rgba(237,237,237,0.6)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	border-top: 3px solid #575957;
	border-bottom: 3px solid #575957;
}

.contenedor-informacion-registro .contenedor-registro {
	width: 100%;
	height: 28%;
	margin-top: 2%;
    background: rgba(98,125,77,1);
	background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(26,96,14,0.71)));
	background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -o-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1a600e', GradientType=0 );
}

.contenedor-informacion-registro .contenedor-registro .desplegar-registrar {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	border-bottom: 1.25px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.0em;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    background-color: transparent;
}

.contenedor-informacion-registro .contenedor-registro form {
	width: 100%;
	height: 100%;
	display: none;
	background-color: transparent;
}

.contenedor-informacion-registro .contenedor-registro form .ocultar-registro {
	width: 100%;
	height: 12%;
	background-color: transparent;
	background-image: url("../images/iconos/blanco/flecha-abajo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3% 90%;

}

.contenedor-registro .fila-registro {
	width: 100%;
	height: 29%;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-registro .fila-registro .inputs-nombre,
.contenedor-registro .fila-registro .inputs-datos-personales,
.contenedor-registro .fila-registro .inputs-cuenta {
	width: 93%;
	height: 75%;
	margin: 0 auto;
}

.contenedor-registro .fila-registro input {
	height: 92%;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: 0.3px solid #E2E8E3;
	padding-left: 1.5%;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: bold;
}

.contenedor-registro .fila-registro .inputs-nombre #nombre {
	width: 25%;
}

.contenedor-registro .fila-registro .inputs-nombre #apellidos {
	width: 40%;
}

.contenedor-registro .fila-registro .inputs-nombre #usuario {
	width: 27.5%;
}

.contenedor-registro .fila-registro .inputs-cuenta #correo {
	width: 42%;
}

.contenedor-registro .fila-registro .inputs-cuenta #contrasena {
	width: 25%;
}

.contenedor-registro .fila-registro .inputs-cuenta #repetir-contrasena {
	width: 25.5%;
}

.fila-registro .contenedor-boton-registro {
	width: 30%;
	height: 75%;
	margin: 0 auto;
}

.contenedor-boton-registro button {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 0.5em;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.9em;
}

.contenedor-principal .contenedor-derecho {
	width: 35%;
	height: 100%;
	float: right;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-derecho .contenedor-login {
	width: 80%;
	height: 75%;
    border-radius: 0.5em;
    border: 0.2px solid #C5C8C5;
    background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,0.81)), color-stop(100%, rgba(237,237,237,0.6)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.contenedor-login .contenedor-logo {
	width: 100%;
	height: 60%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 80%;
}

.contenedor-login .contenedor-inicio-sesion {
	width: 100%;
	height: 33%;
	background: rgba(98,125,77,1);
	background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(26,96,14,0.71)));
	background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -o-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(26,96,14,0.71) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1a600e', GradientType=0 );
}

.contenedor-inicio-sesion .input-usuario-contrasena {
	width: 100%;
	height: 70%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-login .contenedor-inicio-sesion form {
	width: 100%;
	height: 100%;
}

.contenedor-inicio-sesion .input-usuario-contrasena input {
	width: 80%;
	height: 30%;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	margin-top: 3%;
	padding-left: 3%;
	font-size: 0.9em;
}

.contenedor-inicio-sesion .boton-inicio {
	width: 50%;
	height: 30%;
	margin: 0 auto;
}

.contenedor-inicio-sesion .boton-inicio button {
	width: 100%;
	height: 70%;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 0.5em;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.9em;
}

.contenedor-principal button:hover {
	background-color: #F7DB5C;
	cursor: pointer;
	color: #000000;
}

/* ------------------------------------------- FONTS ------------------------------------------- */

@font-face {
    font-family: fuente-principal;
    src: url(../fonts/Calibri.ttf) format("truetype");
}

@font-face {
    font-family: fuente-titulo;
    src: url(../fonts/KeepCalm-Medium.ttf) format("truetype");
}
