/*
 * Documento con el estilo de la página de inicio de la versión web de la aplicación GricApp.
 * Autor: Eduardo Escobar Alberto
 * Fecha de creación: 20/05/2017
 * Correo electrónico: eduescal13@gmail.com.
 * Centro: Universidad de La Laguna.
 */

/* ------------------------------------------- ESTILO INICIO -------------------------------------------*/

html {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	overflow: hidden;
}

.contenedor-principal {
	width: 100%;
	height: 95%;
	background: rgba(179,224,182,1);
	background: -moz-linear-gradient(top, rgba(179,224,182,1) 0%, rgba(163,228,215,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,224,182,1)), color-stop(100%, rgba(163,228,215,1)));
	background: -webkit-linear-gradient(top, rgba(179,224,182,1) 0%, rgba(163,228,215,1) 100%);
	background: -o-linear-gradient(top, rgba(179,224,182,1) 0%, rgba(163,228,215,1) 100%);
	background: -ms-linear-gradient(top, rgba(179,224,182,1) 0%, rgba(163,228,215,1) 100%);
	background: linear-gradient(to bottom, rgba(179,224,182,1) 0%, rgba(163,228,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e0b6', endColorstr='#a3e4d7', GradientType=0 );
}

.pie-pagina {
	width: 100%;
	height: 5%;
	position: bottom;
	background-color: #1B1C1B;
	background-image: url("../images/logo_ull.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 7% 65%;
	border-top: 0.2px solid #575957;
}

.contenedor-principal .contenedor-izquierdo {
	width: 65%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor-izquierdo .contenedor-informacion-registro {
	width: 85%;
	height: 100%;
  border-left: 0.2px solid #C5C8C5;
  border-right: 0.2px solid #C5C8C5;
  background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: 10%;
}

.contenedor-informacion-registro .titulo-informacion-registro {
	width: 100%;
	height: 15%;
	margin-top: 3%;
	background-color: #2A2B2A;
}

.contenedor-informacion-registro .titulo-informacion-registro .contenedor-texto-titulo {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: fuente-mayuscula;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.5em;
	letter-spacing: 0.030em;
  text-align: center;
}

.contenedor-informacion-registro .titulo-informacion-registro .contenedor-android {
	width: 50%;
	height: 30%;
	background-color: #F7DB5C;
	float: right;
	border-top-left-radius: 1em;
}

.contenedor-informacion-registro .titulo-informacion-registro .contenedor-android #imagen-android {
	width: 19%;
	height: 100%;
	float: left;
	border-top-left-radius: 1em;
	background-image: url("../images/android.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 100%;
}

.contenedor-informacion-registro .titulo-informacion-registro .contenedor-android #texto-android {
	width: 80%;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: fuente-mayuscula;
  font-weight: bold;
  color: #000000;
  font-size: 0.9em;
	text-align: center;
}

.contenedor-informacion-registro .contenedor-informacion {
	width: 100%;
	height: 45%;
	margin: 0 auto;
	margin-top: 2%;
	border-top: 1px solid #BBB3B1;
	border-bottom: 1px solid #BBB3B1;
	background-image: url("../images/slide/1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.contenedor-informacion-registro .contenedor-informacion .contenedor-flecha-izquierda {
	width: 9.5%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor-informacion-registro .contenedor-informacion .contenedor-flecha-izquierda #flecha-izquierda {
	width: 100%;
	height: 15%;
	background-image: url("../images/iconos/negro/flecha-izquierda.png");
	background-repeat: no-repeat;
	background-position: 15%;
	background-size: 45% 70%;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
	opacity: 0.6;
}

.contenedor-informacion-registro .contenedor-informacion .contenedor-flecha-derecha {
	width: 9.5%;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenedor-informacion-registro .contenedor-informacion .contenedor-flecha-derecha #flecha-derecha {
	width: 100%;
	height: 15%;
	background-image: url("../images/iconos/negro/flecha-derecha.png");
	background-repeat: no-repeat;
	background-position: 85%;
	background-size: 45% 70%;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
  opacity: 0.6;
}

.contenedor-informacion-registro .contenedor-registro {
	width: 100%;
	height: 28%;
	margin-top: 2%;
  background-color: #76A06B;
}

.contenedor-informacion-registro .contenedor-registro .desplegar-registrar {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	border-bottom: 1.25px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.0em;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  background-color: transparent;
}

.contenedor-informacion-registro .contenedor-registro .contenedor-codigo-qr {
	width: 100%;
	height: 80%;
	border-bottom: 0.5px solid #BBB3B1;
}

.contenedor-registro .contenedor-codigo-qr .contenedor-codigo {
	width: 30%;
	height: 100%;
	background-color: #FCFCFC;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor-registro .contenedor-codigo-qr .contenedor-codigo #codigo-qr {
	width: 62%;
	height: 85%;
  margin: 0 auto;
  background-image: url("../images/qr_github.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 0.3em;
	border: 1px solid #D8CECB;
}

.contenedor-registro .contenedor-codigo-qr .contenedor-informacion-codigo {
	width: 70%;
	height: 100%;
  float: right;
	background-color: #FCFCFC;
}

.contenedor-codigo-qr .contenedor-informacion-codigo .contenedor-titulo-codigo {
	width: 97%;
	height: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: fuente-mayuscula;
  font-weight: bold;
  font-size: 1.2em;
  color: #FFFFFF;
  text-align: left;
  background-color: #2A2B2A;
  padding-left: 3%;
	letter-spacing: 0.045em;
  border-bottom-left-radius: 0.8em;
}

.contenedor-codigo-qr .contenedor-informacion-codigo .contenedor-redes-sociales {
	width: 100%;
	height: 58%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.contenedor-informacion-codigo .contenedor-redes-sociales .fila-redes-sociales {
	width: 96%;
	height: 60%;
	padding-right: 4%;
}

.contenedor-redes-sociales .fila-redes-sociales .red-social {
	width: 11%;
	height: 100%;
	background-color: #2A2B2A;
	border-radius: 0.2em;
	float: right;
	margin-right: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.fila-redes-sociales #facebook {
	background-image: url("../images/iconos/blanco/facebook.png");
}

.fila-redes-sociales #facebook:hover {
	background-size: 55% 55%;
	background-color: #3B5998;
}

.fila-redes-sociales #twitter {
	background-image: url("../images/iconos/blanco/twitter.png");
}

.fila-redes-sociales #twitter:hover {
	background-size: 55% 55%;
	background-color: #00ACED;
}

.fila-redes-sociales #instagram #icono-instagram {
	width: 100%;
	height: 100%;
	border-radius: 2%;
	background-image: url("../images/iconos/blanco/instagram.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.fila-redes-sociales #instagram #icono-instagram:hover {
	background-size: 55% 55%;
}

.fila-redes-sociales #instagram:hover {
	background.color: #D6249F;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fila-redes-sociales #infojobs {
	background-image: url("../images/iconos/blanco/infojobs.png");
}

.fila-redes-sociales #infojobs:hover {
	background-size: 55% 55%;
	background-color: #DCB63E;
}


.fila-redes-sociales #github {
	background-image: url("../images/iconos/blanco/github.png");
}

.fila-redes-sociales #github:hover {
	background-size: 55% 55%;
	background-color: #8647A0;
}

.contenedor-informacion-registro .contenedor-registro .formulario-registro {
	width: 100%;
	height: 100%;
	display: none;
	background-color: transparent;
}

.contenedor-informacion-registro .contenedor-registro .formulario-registro .ocultar-registro {
	width: 100%;
	height: 12%;
	background-color: transparent;
	background-image: url("../images/iconos/blanco/flecha-abajo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3% 90%;

}

.contenedor-informacion-registro .contenedor-registro .formulario-registro .contenedor-registro-personal-empresa {
	width: 100%;
	height: 58%;
}

.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-personales {
	width: 100%;
	height: 100%;
}

.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-personales .fila-registro {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
}

.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-personales .fila-registro .inputs-nombre,
.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-personales .fila-registro .inputs-cuenta {
	width: 93%;
	height: 75%;
	margin: 0 auto;
}

.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-personales .fila-registro input {
	height: 92%;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	padding-left: 1.5%;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: bold;
}

.contenedor-datos-personales .fila-registro .inputs-nombre #nombre {
	width: 25%;
}

.contenedor-datos-personales .fila-registro .inputs-nombre #apellidos {
	width: 37%;
}

.contenedor-datos-personales .fila-registro .inputs-nombre #usuario {
	width: 30.5%;
}

.contenedor-datos-personales .fila-registro .inputs-cuenta #correo {
	width: 42%;
}

.contenedor-datos-personales .fila-registro .inputs-cuenta #contrasena {
	width: 25%;
}

.contenedor-datos-personales .fila-registro .inputs-cuenta #repetir-contrasena {
	width: 25.5%;
}

.formulario-registro .contenedor-registro-personal-empresa .contenedor-datos-empresa {
	width: 100%;
	height: 100%;
	display: none;
}

.contenedor-registro-personal-empresa .contenedor-datos-empresa .contenedor-particular-empresa {
	width: 100%;
	height: 100%;
}

.contenedor-datos-empresa .boton-empresa {
	width: 100%;
	height: 49.5%;
	background-color: #2A2B2A;
	text-align: center;
	font-family: sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.0em;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.contenedor-datos-empresa .boton-empresa:hover {
	background-color: #F7DB5C;
	cursor: pointer;
	color: #2A2B2A;
}

.contenedor-particular-empresa #boton-cliente-particular,
.contenedor-nueva-existente #boton-empresa-nueva {
	border-bottom: 1px solid #FFFFFF;
}

.contenedor-registro-personal-empresa .contenedor-datos-empresa .contenedor-nueva-existente {
	width: 100%;
	height: 100%;
	display: none;
}

.contenedor-registro-personal-empresa .contenedor-datos-empresa .contenedor-empresa-nueva {
	width: 100%;
	height: 100%;
	display: none;
}

.contenedor-datos-empresa .contenedor-empresa-nueva .fila-empresa-nueva {
	width: 100%;
	height: 49.5%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-nombre-empresa,
.contenedor-empresa-nueva .fila-empresa-nueva .input-contrasena-empresa {
	width: 93%;
	height: 75%;
	margin: 0 auto;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-nombre-empresa #nombre-empresa {
	width: 36%;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-nombre-empresa #direccion {
	width: 39%;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-nombre-empresa #telefono {
	width: 18%;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-contrasena-empresa #poblacion {
	width: 32%;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-contrasena-empresa #codigo-postal {
	width: 16.7%;
}

.contenedor-empresa-nueva .fila-empresa-nueva .input-contrasena-empresa #contrasena-empresa,
.contenedor-empresa-nueva .fila-empresa-nueva .input-contrasena-empresa #repetir-contrasena-empresa {
	width: 21%;
}

.contenedor-empresa-nueva .fila-empresa-nueva input {
	height: 92%;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	padding-left: 1.5%;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: bold;
}

.contenedor-registro-personal-empresa .contenedor-datos-empresa .contenedor-empresa-existente {
	width: 100%;
	height: 100%;
	background-color: #2A2B2A;
	display: none;
}

.contenedor-datos-empresa .contenedor-empresa-existente .fila-empresa-existente {
	width: 100%;
	height: 49.5%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.fila-empresa-existente .input-nombre-existente,
.fila-empresa-existente .input-contrasena-existente {
	width: 40%;
	height: 70%;
	margin: 0 auto;
}

.fila-empresa-existente .input-nombre-existente #nombre-existente,
.fila-empresa-existente .input-contrasena-existente #contrasena-existente {
	width: 100%;
	height: 92%;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	text-align: center;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: bold;
	outline: none;
}

.contenedor-registro .formulario-registro .fila-registro-boton {
	width: 100%;
	height: 29%;
	display: flex;
	justify-content: center;
  align-content: center;
  flex-direction: column;
}

.fila-registro-boton .contenedor-boton-registro {
	width: 30%;
	height: 70%;
	margin: 0 auto;
}

.contenedor-boton-registro #boton-continuar-registro,
.contenedor-boton-registro #boton-registro {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 0.5em;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.9em;
	outline: none;
}

.contenedor-boton-registro #boton-continuar-registro:hover,
.contenedor-boton-registro #boton-registro:hover {
	background-color: #F7DB5C;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	color: #2A2B2A;
}

.contenedor-boton-registro #boton-continuar-registro:disabled,
.contenedor-boton-registro #boton-registro:disabled {
	background-color: transparent;
	border: 1px solid #FFFFFF;
	cursor: default;
	color: #FFFFFF;
}

.contenedor-principal .contenedor-derecho {
	width: 35%;
	height: 100%;
	float: right;
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor-derecho .contenedor-login {
	width: 80%;
	height: 75%;
  border-radius: 0.5em;
  border: 0.2px solid #C5C8C5;
  background-image: url("../images/fondo_transparente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,0.81)), color-stop(100%, rgba(237,237,237,0.6)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,0.81) 47%, rgba(237,237,237,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.contenedor-login .contenedor-logo {
	width: 100%;
	height: 60%;
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 80%;
}

.contenedor-login .contenedor-inicio-sesion {
	width: 100%;
	height: 33%;
	background-color: #76A06B;
}

.contenedor-inicio-sesion .input-usuario-contrasena {
	width: 100%;
	height: 70%;
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contenedor-inicio-sesion .input-usuario-contrasena input {
	width: 80%;
	height: 30%;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 0.3em;
	border: none;
	margin-top: 3%;
	padding-left: 3%;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: bold;
}

.contenedor-inicio-sesion .boton-inicio {
	width: 50%;
	height: 30%;
	margin: 0 auto;
}

.contenedor-inicio-sesion .boton-inicio #boton-iniciar-sesion {
	width: 100%;
	height: 70%;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 0.5em;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.9em;
	outline: none;
}

.contenedor-principal #boton-iniciar-sesion:hover {
	background-color: #F7DB5C;
	cursor: pointer;
	color: #000000;
}

/* ------------------------------------------- FONTS ------------------------------------------- */

@font-face {
    font-family: fuente-principal;
    src: url(../fonts/Calibri.ttf) format("truetype");
}

@font-face {
    font-family: fuente-titulo;
    src: url(../fonts/KeepCalm-Medium.ttf) format("truetype");
}

@font-face {
    font-family: fuente-texto-codigo;
    src: url(../fonts/Simply-Rounded.ttf) format("truetype");
}

@font-face {
    font-family: fuente-mayuscula;
    src: url(../fonts/Nickname.otf) format("truetype");
}
